<app-page-title title="Checkout" [children]="[{title: 'Checkout'}]"></app-page-title>


<div class="container padding-bottom-3x mb-2">
  <div class="card text-center">
    <div class="card-body padding-top-2x">
      <h3 class="card-title">Obrigado pelo seu pedido!</h3>
      <p class="card-text">Seu pedido foi feito e será processado assim que possível.</p>
      <div class="padding-top-1x padding-bottom-1x">
        <a class="btn btn-outline-secondary" routerLink="/home">Voltar para a Loja</a>
      </div>
    </div>
  </div>
</div>
