<!-- Site Footer-->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <!-- Contact Info-->
        <section class="widget widget-light-skin">
          <h3 class="widget-title">Entre em contato conosco</h3>
          <p class="text-white">Telefone: +55 46 99941-7676</p>
          <p>
            <a class="navi-link-light" href="#">oticachioca@hotmail.com</a>
          </p>
          <a class="social-button shape-circle sb-facebook sb-light-skin" href="#">
            <i class="socicon-facebook"></i>
          </a>
          <a class="social-button shape-circle sb-twitter sb-light-skin" href="#">
            <i class="socicon-twitter"></i>
          </a>
          <a class="social-button shape-circle sb-instagram sb-light-skin" href="#">
            <i class="socicon-instagram"></i>
          </a>
          <a class="social-button shape-circle sb-google-plus sb-light-skin" href="#">
            <i class="socicon-googleplus"></i>
          </a>
        </section>
      </div>
    </div>

    <!-- Copyright-->
    <p class="footer-copyright">© All rights reserved. Made with &nbsp;
      <i class="icon-heart text-danger"></i>
      <a href="http://www.andre-abt.com/" target="_blank"> &nbsp;by Reverson from André Abt & Christian Zellweger</a>
    </p>
  </div>
</footer>
